html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.title-header {
  background-image: url('/images/andre-tan-THJJRUhNlEc-unsplash.jpg'), linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)); 
  background-size: cover;
  background-position: 0% 20%;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  height: 25vh;

  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  color: #FFFFFF;
}

.header-container {
  position: relative;
}

.title-header > h1 {
  font-size: 4.25rem;
}

.title-header > a {
  font-size: 1.50rem;
  color: #FFFFFF;
  text-decoration: none;
}

.title-header > a:hover {
  text-decoration:underline;
}

.main-search {
  display: flex;
  justify-content: center;

}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 80vw;
  background-color: #FFFFFF;
  border: 1px solid #7e7e7e;
  border-radius: 11px;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  padding-left: 1rem;

  position: absolute;
  top: 93%;
  z-index: 9;
}

.input-container > input {
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  font-size: 1.75rem;
  border: none;
}

.input-container > i {
  margin-right: 0.7rem;
  color:#7e7e7e;
  font-size: 1.75rem;
  pointer-events: none;
}

.input-container > button {
  padding: 0 3.8rem 0 4rem;
  height: 2.5em;
  font-size: 1.75rem;
  background-color: #F9FAFB;
  color: #374151;
  border: none;
  cursor: pointer;
  border-left: 1px solid #7e7e7e;
}

.results {
  margin-top: 8%;
  
}

.movie-card {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-inline: 3rem;
  border-bottom: 1px solid #7e7e7e;
  padding-block: 2.5rem;
  font-family: 'Inter', sans-serif;
}

.movie-card > img {
  width: 100%;
  max-width: 25vw;
  margin-right: 1.5rem;
}


.details-one {
  margin-top: 0;
  font-size: 2.25rem;
  font-weight: normal;
}

.imdb-rating {
  font-weight: normal;
  font-size: 0.85rem;
  margin-left: 1rem;
}

.fa-star {
  margin-right: 1.3rem;
  color: #FEC654;
  font-size: 0.7rem;
}

.details-two {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: 'Inter', sans-serif;
}

.details-two > p {
  font-size: 1.75rem;
  margin-block: 0;
}

.add-watchlist-btn {
  font-size: 1.75rem;
  border: none;
  background-color: transparent;
}

.movie-plot {
  color: #7e7e7e;
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
}

.watchlist-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
}

.watchlist-container > h1 {
  color: #a8a8a8;
}

.watchlist-container > a {
  font-size: 1.50rem;
  color: #3b4252;
  text-decoration: none;
  font-weight: bold;
}